@import '../../index.scss';

#links {
    margin-right: 5rem;

    position: sticky;
}


#links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1.5rem;

    gap: 1rem;
}


#links ul li {
    opacity: 70%;
    text-decoration: none;
    list-style: none;

    font-size: 20px;

}

.link {
    color: $black;
}


.link:hover {
    opacity: 100%;
    color: $black-hover;
    font-weight: bold;

    transition: .3s;

    cursor: pointer;
}


.bold {
    font-weight: bold;

}