$black: #07050E;
$black-hover: #05040A;
$c-blue: #140F28;
$blue-hover: #110D22;
$c-gray: #FDFCEF;
$gray-hover: #FCFBE7;
$c-gold: #B0AB49;
$gold-hover: #8C893A;

* {
    padding: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', Helvetica, sans-serif;
}