.data {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    padding: 1.5rem;

    margin-left: 1rem;

    z-index: 20;

    .plus {
        margin-top: 3.5rem;
        transition: .3s ease-in-out;
        &:hover {
            cursor: pointer;
            color: #bbb;
        }
    }
}